.field {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.field__label {
    display: inline-block;

    color: var(--font-primary);
    font-weight: 500;
    font-family: var(--font-text);
}

.field__input {
    display: inline-block;

    border: 2px solid var(--bg-muted);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;

    background-color: transparent;

    color: var(--font-primary);
    font-size: .9rem;
    font-family: var(--text-font);
}
.field__input:hover {
    border-color: #10366b;

    background-color: var(--bg-primary);
    filter: brightness(0.8);
}
.field__input:active,
.field__input:focus-within {
    border-color: rgb(27, 85, 167);

    background-color: var(--bg-primary);
    filter: brightness(0.8);
}

.field__input:-webkit-autofill,
.field__input:-webkit-autofill:hover,
.field__input:-webkit-autofill:active,
.field__input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;

    background-color: var(--bg-primary) !important;

    -webkit-text-fill-color: var(--font-primary) !important;
    caret-color: var(--font-primary) !important;
}

.invalid .field__label,
.invalid .field__input {
    border-color: rgb(209, 17, 17);
}

.invalid .field__label {
    color: rgb(209, 17, 17  );
}