.footer {
    height: 3rem;
    
    padding: .5rem;
}

.footer p {
    margin: 0;

    text-align: center;
}

.footer .author * {
    color: var(--accent-color-primary);
    font-weight: bold;
    text-decoration: none;
}