.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

    padding: 1rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .main {
        padding: 1.5rem;
    }
}
