.hero {
    position: relative;

    height: calc(100dvh - 3rem);
    max-height: 900px;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__intro {
    margin-block: 3rem 1rem;

    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: none;
    color: var(--font-primary);
}

.hero__intro span {
    color: var(--accent-color-primary);
    font-size: 2.3rem;
    font-weight: bold;
}

.hero__desc {
    max-width: 400px;
}

.hero__desc span {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--accent-color-secondary);
    text-decoration-thickness: 2px;
}

.hero__cta {
    display: inline-block;

    margin-top: 4rem;
}

.hero__socialMedias {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-top: 1rem;
}

.hero__socialMedias a {
    text-decoration: none;
    color: var(--font-primary);

    transition: transform 0.3s ease;
}

.hero__socialMedias a:hover {
    transform: scale(1.07);
}

.hero__socialMedias a:active {
    transform: scale(0.93);
}

.hero__socialMedias svg {
    font-size: 2.1rem;
}

.hero__gradients {
    position: absolute;
    top: -3rem;

    width: 100%;
    height: 100px;
}

.gradients__gradient {
    position: absolute;
    left: -10px;

    user-select: none;
    pointer-events: none;

    height: 400px;
    width: 400px;

    filter: blur(200px);
}

.gradients__gradient:nth-child(1) {
    top: 100px;

    background-image: radial-gradient(circle at 0% 50%, #01816c, transparent 60%);
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .gradients__gradient {
        height: 230px;
        width: 230px;

        filter: blur(400px);
    }

    .gradients__gradient:nth-child(1) {
        position: absolute;
        left: 150px;
        top: -200px;

        background-image: radial-gradient(circle at 100% 50%, #01816c86);
    }
    .gradients__gradient:nth-child(2) {
        position: absolute;
        left: -100px;
        top: -70px;

        background-image: radial-gradient(circle at 100% 50%, #01816c86);
    }
    .gradients__gradient:nth-child(3) {
        position: absolute;
        left: -100px;
        top: 150px;

        background-image: radial-gradient(circle at 100% 50%, #8618b963);
    }
    .gradients__gradient:nth-child(4) {
        position: absolute;
        left: -200px;
        top: 340px;

        background-image: radial-gradient(circle at 100% 50%, #014781a2);
    }
}