.hero {
    position: relative;

    min-height: calc(100dvh - 8rem);
    max-height: 900px;

    margin-top: 5rem;
}

.hero__content {
    position: relative;
    z-index: 2;
}

.hero__visual {
    display: none;
}

.hero__intro {
    margin-bottom: 1rem;

    font-size: 1.4rem;
    font-weight: normal;
    text-decoration: none;
    color: var(--font-primary);
}

.hero__intro span {
    color: var(--accent-color-primary);
    font-size: 1.5em;
    font-weight: bold;
}

.hero__desc {
    max-width: 400px;
}

.hero__desc span {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--accent-color-secondary);
    text-decoration-thickness: 2px;
}

.hero__ctas {
    display: flex;
    gap: .8rem;

    width: fit-content;

    margin-top: 4rem;
}

.hero__socialMedias {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-top: 1rem;
}

.hero__socialMedias a {
    text-decoration: none;
    color: var(--font-primary);

    transition: transform 0.3s ease;
}

.hero__socialMedias a:hover {
    transform: scale(1.07);
}

.hero__socialMedias a:active {
    transform: scale(0.93);
}

.hero__socialMedias svg {
    font-size: 2.1rem;
}

.hero__gradients {
    position: absolute;
    top: -3rem;

    width: 100%;
    height: 100px;
}

.gradients__gradient {
    position: absolute;
    left: -10px;

    user-select: none;
    pointer-events: none;

    height: 400px;
    width: 400px;

    filter: blur(200px);
}

.gradients__gradient:nth-child(1) {
    top: 100px;

    background-image: radial-gradient(circle at 0% 50%, #01816c, transparent 60%);
}

/* Media Queries */

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-height: 600px;

        margin-top: 0rem;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .hero__visual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        width: 50%;

        user-select: none;
        pointer-events: none;
    }

    .hero__visual .imageContainer {
        position: relative;
        z-index: 0;
    }
    .hero__visual .imageContainer::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;

        height: 300px;
        width: 300px;

        border-radius: 50%;

        background-color: #151f33;

        transform: translate(-50%, -50%);
    }

    .hero__visual .imageContainer img {
        position: relative;
        z-index: 1;

        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .gradients__gradient {
        height: 230px;
        width: 230px;

        filter: blur(400px);
    }

    .gradients__gradient:nth-child(1) {
        position: absolute;
        left: -200px;
        top: -185px;

        background-image: radial-gradient(circle at 100% 50%, #01816c93);
    }

    .gradients__gradient:nth-child(2) {
        position: absolute;
        left: 100px;
        top: -200px;

        background-image: radial-gradient(circle at 100% 50%, #01816c93);
    }

    .gradients__gradient:nth-child(3) {
        position: absolute;
        left: -100px;
        top: -70px;

        background-image: radial-gradient(circle at 100% 50%, #01816c93);
    }

    .gradients__gradient:nth-child(4) {
        position: absolute;

        left: -150px;
        top: 150px;

        background-image: radial-gradient(circle at 100% 50%, #014781a6);
    }

    .gradients__gradient:nth-child(5) {
        position: absolute;
        left: -200px;
        top: 340px;

        background-image: radial-gradient(circle at 100% 50%, #8310b994);
    }
}

@media screen and (min-width: 1024px) {
    .hero__intro {
        font-size: 2rem;
    }

    .hero__visual {
        position: relative;
        justify-content: center;
    }
}