.tools__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: .5rem;
}

.card {
    width: 100%;

    border: 1px solid var(--bg-surface);
    border-radius: 10px;
    padding: .5rem;

    background-color: transparent;
}
.card__title {
    color: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-decoration: underline;
    text-decoration-color: var(--accent-color-secondary);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.card__summary {
    margin-top: .4rem;
    
    font-size: .9rem;
    line-height: 1.2rem;
    color: var(--font-surface);
}

.card__tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;

    margin-top: 1.5rem;
}

.tools__tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.tools__tool svg {
    font-size: 1.2rem;
    color: var(--accent-color-secondary);
}

.tools__tool p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .tools__cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    } 
    
    .card {
        min-height: 230px;
    }
}