.button {
    display: inline-block;
    cursor: pointer;
    
    border: none;
    border-radius: 10px;
    padding: .5rem .8rem;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--font-text);

    transition: transform .3s ease, filter .3s ease;
    will-change: transform;
}

.button:hover {
    filter: brightness(.8);
    transform: scale(1.04);
}

.button:active {
    filter: brightness(.6);
    transform: scale(.98);
}

.primary {
    background-color: var(--accent-color-primary);

    color: #1c1c1c;
}

.secondary {
    background-color: var(--accent-color-secondary);

    color: #ededed;
}

.ghostPrimary {
    background-color: transparent;
    border: 2px solid var(--accent-color-primary);

    color: var(--accent-color-primary);
}

.ghostSecondary {
    background-color: transparent;
    border: 2px solid var(--accent-color-secondary);

    color: var(--accent-color-secondary);
}