.linkButton {
    display: inline-block;
    
    border-radius: 50px;
    padding: .5rem .8rem;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    transition: transform .3s ease;
}

.linkButton:hover {
    transform: scale(1.05);
}

.linkButton:active {
    transform: scale(0.95);
}

.primary {
    background-color: var(--accent-color-primary);

    color: #1c1c1c;
}

.secondary {
    background-color: var(--accent-color-secondary);

    color: #1c1c1c;
}

.ghostPrimary {
    background-color: transparent;
    border: 2px solid var(--accent-color-primary);

    color: var(--accent-color-primary);
}

.ghostSecondary {
    background-color: transparent;
    border: 2px solid var(--accent-color-secondary);

    color: var(--accent-color-secondary);
}